.box-wrap {
  position: relative;
  display: block;
  border: 0px solid blue;
  width: 1050px;
  height: 1050px;
  left: 600px;
  bottom: 1050px;

}

.follow-box-wrap {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  width: 1000px;
  height: 300px;
}

.Mypagebox-Followers-box {
  position: relative;
  display: inline-block;
  left: 230px;
  top: 80px;
  cursor: pointer;
}
.Mypagebox-Followers-box h1:hover{
  color:blue;
}

.Mypagebox-Following-box {
  position: relative;
  display: inline-block;
  left: 430px;
  top: 80px;
  cursor: pointer;
}
.Mypagebox-Following-box h1:hover{
  color:blue;
}

.Mypagebox-follow-box-wrap h1 {
  position: relative;
  display: inline-block;
  top: 95px;
  left: 40px;
}

.Mypagebox-follow-box-wrap span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 135px;
  right: 98px;
}

.follow-box-wrap button {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  background-color: #33A3F5;
  border: 0px solid;
  border-radius: 25%;
  font-size: 20px;
  color: white;
  cursor: pointer;
  top: 110px;
  left: 300px;
}

.follow-box-wrap button:hover {
  color: black;
}

.mywrite-box-wrap {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  top: 70px;
  width: 1000px;
  height: 300px;
}

.mywrite-box-wrap h1 {
  position: relative;
  display: inline-block;
  top: 95px;
  left: 40px;
}

.mywrite-box-wrap span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 135px;
  right: 183px;
}

.mywrite-box-wrap button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
  cursor: pointer;
  background-color: #6699CC;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
  outline: none;
  top: 110px;
  left: 340px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.mywrite-box-wrap button:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  background: linear-gradient(to right, #6699CC, #66CCFF);
  z-index: -1;
  border-radius: 50px;
  transform: scale(0.98);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.mywrite-box-wrap button:hover {
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.8);
  transform: translateY(-2px);
}

.mywrite-box-wrap button:hover:before {
  opacity: 1;
  transform: scale(1);
}

.reservation-box-wrap {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  top: 120px;
  width: 1000px;
  height: 330px;
}

.reservation-box-wrap h1 {
  position: relative;
  display: inline-block;
  top: 95px;
  left: 40px;
}

.reservation-box-wrap span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  top: 135px;
  right: 140px;
}
.reservation-box-wrap button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
  cursor: pointer;
  background-color: #6699CC;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.5);
  outline: none;
  top: 110px;
  left: 330px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.reservation-box-wrap button:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  background: linear-gradient(to right, #6699CC, #66CCFF);
  z-index: -1;
  border-radius: 50px;
  transform: scale(0.98);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.reservation-box-wrap button:hover {
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.8);
  transform: translateY(-2px);
}

.reservation-box-wrap button:hover:before {
  opacity: 1;
  transform: scale(1);
}