<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iamport</title>
        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
        <!-- iamport.payment.js -->
        <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    </head>
    <body>
     
    <button onclick="requestPay()">결제하기</button>
     
    <script>
        function requestPay() {
          IMP.init('imp52063215'); //iamport 대신 자신의 "가맹점 식별코드"를 사용
          IMP.request_pay({
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid : 'merchant_'+new Date().getTime(),
            name : '결제테스트',
            amount : 100,
            buyer_email : 'wj@wj.com',
            buyer_name : '심우준',
            buyer_tel : '010-1234-5678',
            buyer_postcode : '123-456'
          }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
            var msg = '결제가 완료되었습니다.';
            alert(msg);
            // location.href = "결제 완료 후 이동할 페이지 url"
            } else {
             var msg = '결제에 실패하였습니다.';
             msg += '에러내용 : ' + rsp.error_msg;
             alert(msg);
            }
         });
        }
        </script>
    </body>
    </html>