.profilemodify {
  position: relative;
  background-color: #ffffff;
  /* margin-left: 520px; */
  /* margin-top: 20px; */
  width: 480px;
  height: 700px;
  display: grid;
  grid-template-columns: 480px;
  grid-template-rows: 250px 25px 75px 75px 75px 75px 85px 40px;
}



.profile {
  background-color: rgb(121, 121, 121);
  height: 250px;
  width: 250px;
  margin-left: 115px;
  border-radius: 180px;
  background-image: url(../img/1.jpg);
  background-size: cover;
}

.profilepick {
  text-align: center;
  font-weight: bold;
}




.profilename {
  margin: 25px auto;
  display: grid;
  height: auto;
  font-family: Arial;
  font-size: 10px;
  grid-template-columns: 80px 400px;
  grid-template-rows: 50px;
}

.modifyname {
  margin: auto;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.nameinputbox {
  margin-left: 20px;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000000;
  height: auto;
  font-size: 20px;
}


.profilenickename {
  margin: 25px auto;
  display: grid;
  height: auto;
  font-family: Arial;
  font-size: 10px;
  grid-template-columns: 80px 400px;
  grid-template-rows: 50px;
}

.modifynickname {
  margin: auto;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.nicknameinputbox {
  margin-left: 20px;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000000;
  height: auto;
  font-size: 20px;
}


.profileemail {
  margin: 25px auto;
  display: grid;
  height: auto;
  font-family: Arial;
  font-size: 10px;
  grid-template-columns: 80px 400px;
  grid-template-rows: 50px;
}

.modifyemail {
  margin: auto;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.emailinputbox {
  margin-left: 20px;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000000;
  height: auto;
  font-size: 20px;
}

.profiletel {
  margin: 25px auto;
  display: grid;
  height: auto;
  font-family: Arial;
  font-size: 10px;
  grid-template-columns: 80px 400px;
  grid-template-rows: 50px;
}

.modifytel {
  margin: auto;
  text-align: center;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}

.telinputbox {
  margin-left: 20px;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000000;
  height: auto;
  font-size: 20px;
}

/*/





/수정 취소버튼*/
.okno {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px;
}

.modify {
  display: inline-block;
  margin-left: 90px;
  margin-top: 20px;
  width: 140px;
  height: 50px;
  border-radius: 20px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  background-color: #33A3F5;
  color: #ffffff;
}

.cancel {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  width: 140px;
  height: 50px;
  border-radius: 20px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  background-color: #33A3F5;
  color: #ffffff;
}

div.modal-body {
  margin: 35px auto;
}

/* div.okno {
 
} */