
.qna-h1{
  position: relative;
  display: inline-block;
  left:620px;
  top:100px;
}
.qna-list {
  left:400px;
  top:150px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  box-sizing: border-box;
}

.qna-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.qna-list li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.qna-header {
  display: flex;
  justify-content: space-between;
}
.qna-nick{
  position: relative;
  display: inline-block;
  left:280px;

}
.qna-content {
  margin-top: 10px;
  margin-left: 10px;
}
.qna-title{
  position: absolute;
  display: inline-block;
  left:620px;
  max-width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.open .qna-content {
  display: block;
}
/* Qnalist.css */
.qna-header-bar {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 8px 0;
  font-weight: bold;
}

.qna-number-header {
position: relative;
display: inline-block;
text-align: center;
left:-90px;
}

.qna-title-header{
  position: relative;
  display: inline-block;
  left:-30px;

}
.qna-nick-header{
  position: relative;
  display: inline-block;
  left:145px;
}

.qna-date-header {
  position: relative;
  display: inline-block;
  text-align: center;
  left:60px;
}
.page-numbers {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-left:-30px;
}

.page-numbers li {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page-numbers li.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.page-numbers li:hover {
  background-color: #f8f9fa;
  color:black;
}
.qedit-btn{
background-image: url(../img/edit.png);
background-size: cover;
border: 0;
  background-color: transparent;
  width:20px;
  height: 20px;
}
.qdelete-btn{
  background-image: url(../img/delete.png);
  background-size: cover;
  border: 0;
  background-color: transparent;
  width:20px;
  height: 20px;
}.qna-actions{
  position: relative;
  display:inline-block;
  left:850px;
}