.info-poster {
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  top: -780px;
  left: 200px;
  height: 510px;
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.info-poster h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info-poster h5{
  color: #fd6d6d;
}


.info-poster h2 {
  color: #fd6d6d;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info-poster p {
  font-size: 16px;
  line-height: 1.5;
}