.cruise-map-box{
    position: relative;
    display: inline-block;
    width:500px;
    height:300px;
    left: 270px;
    top: -250px;
  }
  .cruise-map{
    position: relative;
    display: inline-block;
    width:500px;
    height:280px;
    border-radius: 6px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
  }